<div class="container-fluid bg-secondary text-light py-3">
  <div class="row">
    <div class="col-md-6 text-left">
      <a href="javascript:void(0);" class="text-decoration-none text-light">Contact Us</a>
    </div>
    <div class="col-md-6 text-right">
      <a href="javascript:void(0);" class="text-decoration-none text-light">Terms & Conditions</a>
    </div>
  </div>
</div>
